<img id="ourImage" src="<%= @current_product.image %>" alt="" />
<h1><%= @current_product.category %></h1>
<h1><%= @current_product.product %></h1>
<h1><%= @current_product.brand %></h1>
<h1><%= @current_product.name %></h1>
<h1><%= @current_product.description %></h1>
<h1><%= @current_product.store %></h1>
<h1><%= @current_product.purchasedate %></h1>

<h1><%= @current_product.price %></h1>
<h1><a href="http://<%= @current_product.weblink %>"><%= @current_product.weblink %></a></h1>
