<div class="container">


<div class="col-xs-10">


<img id="ourImage" src="<%= @current_product.image %>" alt="" />


<ul class="mylist">
  <li><%= @current_product.category %></li>
  <li><%= @current_product.product %></li>
  <li><%= @current_product.brand %></li>
  <li><%= @current_product.name %></li>
  <li><%= @current_product.description %></li>
  <li><%= @current_product.store %></li>
  <li><%= @current_product.purchasedate %></li>
  <li><%= @current_product.price %></li>
  <li><a href="http://<%= @current_product.weblink %>"><%= @current_product.weblink %></a></li>
</ul>

</div>

</div>
